<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Dashboard</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>GUDLFT | Dashboard</h1>
    <hr>
    <table class="border">
        <tr>
            <th>Club</th>
            <th>Points</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{ club['name'] }}</td>
            <td>{{ club['points'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>